---
import AgregarPersona from "../../../components/crud/personas/AgregarPersona.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
    <main class="flex h-screen">
        <div
        class="w-4/6 bg-cover bg-center"
        style="background-image: url('/fondoForm.webp')" >
      </div>
      
      </div>
        <div class="max-w-md w-full p-6 bg-[#035cb6] rounded-lg shadow-md">
          <AgregarPersona />
        </div>
    </main>
  </Layout>
  
  