<div x-data="{ logout: async function() {  <!-- Define la función directamente en x-data -->
    try {
        const response = await fetch(`${window.AUTH_ENDPOINT}/logout`, {
            method: 'POST',
            credentials: 'include'
        });
        
        if (response.ok) {
            const data = await response.json();
            alert(data.message)
            window.location.href = `${window.BASE_URL}login`;
        } else {
            
            console.error(data.error);
        }
    } catch (error) {
        console.error('Error de red:', error);
    }
}}">
    <!-- Vincula el evento click al método logout() -->
    <button 
        @click="logout()" 
        class="px-4 py-2 rounded-lg bg-transparent hover:bg-white hover:text-black transition-colors duration-300"
    >
        Cerrar Sesión
    </button>
</div>