<div x-data="{ logout: async function() { 
            window.location.href = `${window.BASE_URL}login`;
}}">
    <!-- Vincula el evento click al método logout() -->
    <button 
        @click="logout()" 
        class="px-4 py-2 rounded-lg bg-transparent hover:bg-white hover:text-black transition-colors duration-300"
    >
        Cerrar Sesión
    </button>
</div>