---
// src/components/crud/DesplegarFormBoton.astro
const { texto, onclick } = Astro.props;
---

<button
  onclick={onclick}
  class="w-full bg-white bg-opacity-90 hover:bg-opacity-100 py-4 px-6 rounded-xl transition-all duration-300 flex justify-between items-center shadow-lg hover:shadow-xl"
>
  <span class="text-lg font-medium text-gray-800">{texto}</span>
  
  <span class="h-8 w-8 rounded-full bg-amber-800 flex items-center justify-center shrink-0 transition-transform hover:scale-110">
    <svg 
      xmlns="http://www.w3.org/2000/svg" 
      class="h-5 w-5 text-white" 
      viewBox="0 0 20 20" 
      fill="currentColor"
    >
      <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
    </svg>
  </span>
</button>