---
// src/pages/ruta/AgregarPago.astro
import Layout from "../../../layouts/Layout.astro";
import Agregartoma from "../../../components/crud/TomaAgua/toma.astro";
const BASE_URL = import.meta.env.VITE_BASE_URL || '';
---

<Layout>
    <main class="relative flex flex-col" style="min-height: 100vh;">
            <!-- Fondo -->
            <div 
            class="fixed inset-0 bg-cover bg-center bg-no-repeat -z-10"
            style={`background-image: url('${BASE_URL}/fondoForm.webp')`}
            ></div>
        
        <!-- Contenedor izquierdo (buscador) - 5/6 del ancho -->
            <div class="w-6/6 flex flex-col">
                <div >
                    <!-- Espacio reservado para el buscador que manejará AgregarPago -->
                    <div id="buscador-container">
                        <Agregartoma/>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>