---
import FlechaBoton from '../components/FlechaBoton.astro';
import Layout from '../layouts/Layout.astro';
const BASE_URL = import.meta.env.VITE_BASE_URL || '';
---

<Layout>
  <main class="min-h-screen relative">
    <!-- Fondo -->
    <div
      class="absolute inset-0 bg-cover bg-center z-0"
      style={`background-image: url('${BASE_URL}/puente1.webp')`}
    >
      <div class="absolute inset-0 backdrop-brightness-50"></div>
    </div>

    <!-- Contenedor centrado -->
    <div class="relative z-10 flex justify-center min-h-screen p-8">
      <div class="w-full max-w-xl flex flex-col items-center h-full">
        <!-- Título -->
        <div class="w-full text-center mt-12 pt-10">
          <h1 class="text-5xl font-bold text-white drop-shadow-md">S.G. El Mandhó</h1>
        </div>

        <!-- Botones: más abajo y más separados -->
        <nav class="flex justify-center items-center w-full mt-32 gap-x-20">
          <FlechaBoton texto="Usuarios" href={`${BASE_URL}/usuarios`} />
          <FlechaBoton texto="Pagos" href={`${BASE_URL}/pagos`} />
        </nav>
      </div>
    </div>
  </main>
</Layout>



