---
import Layout from "../layouts/Layout.astro";
import FlechaBoton from '../components/FlechaBoton.astro';
const BASE_URL = import.meta.env.VITE_BASE_URL || '';
---

<Layout>
  <main class="min-h-screen relative">
    <div
      class="absolute inset-0 bg-cover bg-center z-0"
      style={`background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('${BASE_URL}/puente1.webp');`}>
      
      <!-- Contenedor que centra todo -->
      <div class="relative z-10 flex items-center justify-center min-h-screen p-8">
        <!-- Botones centrados -->
        <nav class="w-1/3 flex flex-col items-center space-y-6">
          <FlechaBoton texto="Agregar Registro" href={`${BASE_URL}/crud/pagos/agregar`} />
          <FlechaBoton texto="Mostrar Registro" href={`${BASE_URL}/crud/pagos/listar`} />
          <FlechaBoton texto="Toma de agua" href={`${BASE_URL}/crud/pagos/tomaagua`}/>
        </nav>
      </div>
    </div>
  </main>
</Layout>