---
// Importación de componentes y variables
import FlechaBoton from "../../components/FlechaBoton.astro";
import Layout from "../../layouts/Layout.astro";
const BASE_URL = import.meta.env.VITE_BASE_URL || '';
---

<Layout>
    <main class="relative min-h-screen">
        <!-- Fondo con variable de entorno -->
        <div class="absolute inset-0 bg-cover bg-center z-0"
        style={`background-image: url('${BASE_URL}/puente.webp');`}>
            <div class="absolute inset-0 backdrop-brightness-50"></div>
        </div>
        
        <!-- Contenedor principal -->
        <div class="relative z-10 h-screen flex items-center">
            <div class="w-full flex flex-wrap">
                <!-- Columna 1 -->
                <div class="w-1/2 flex flex-col items-center p-4">
                    <div class="w-full flex justify-center">
                        <div class="w-2/6"></div>
                        <FlechaBoton 
                            texto="Agregar Persona" 
                            href={`${BASE_URL}/crud/personas/agregar`} 
                        />
                        <div class="w-2/6"></div>
                    </div>
                </div>
                
                <!-- Columna 2 -->
                <div class="w-1/2 flex flex-col items-center p-4">
                    <div class="w-full flex justify-center">
                        <div class="w-2/6"></div>
                        <FlechaBoton 
                            texto="Agregar Pago" 
                            href={`${BASE_URL}/crud/pagos/agregar`} 
                        />
                        <div class="w-2/6"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>
